﻿@using complaint_site.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}
<section>
    <section id="loginForm" class="mx-auto mb-5">
        <h2 class="text-center text-white pt-5 ">ZALOGUJ SIĘ</h2>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-validate" })
            <div class="form-group my-4">
                <div class="">
                    @Html.TextBoxFor(m => m.Email, new { @class = "loginInput", @placeholder = "Adres E-Mail" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-validate" })
                </div>
            </div>
            <div class="form-group my-4">
                <div class="">
                    @Html.PasswordFor(m => m.Password, new { @class = "loginInput", @placeholder = "Hasło" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-validate" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    <div class="custom-control custom-checkbox text-white">
                        @Html.CheckBoxFor(m => m.RememberMe, new {@class = "custom-control-input" })
                        @Html.LabelFor(m => m.RememberMe, new {@class = "custom-control-label" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Zaloguj" class="btn btn-primary" />
                </div>
            </div>
            <p class="text-white text-justify">
                Twoim loginem jest adres E-Mail podany przez Ciebie przy rejestracji. Jeśli nie posiadasz konta, @Html.ActionLink("załóż je", "Register") teraz!
            </p>
            <div class="text-center">
                <a class="btn btn-outline-light text-white" href="@Url.Action("Register", "Account")">Rejestracja</a>
            </div>
            @* Włącz to ustawienie po włączeniu potwierdzenia konta dla funkcji resetowania hasła
            <p>
                @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
            </p>*@
        }
    </section>
</section>
@*<div class="separated"></div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    var login = 1;
    document.querySelector("main").style.background = 'url("../Content/images/login-background2.jpg") center no-repeat';
    document.querySelector("main").style.backgroundSize = "cover";
</script>