﻿@model complaint_site.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
}
<section class="py-5">
    <div class="card register-card col-sm-6 mx-auto px-0">
        <div class="card-header pt-3">
            <h4 class="text-center">REJESTRACJA KONTA</h4>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                if (ViewBag.Error != null) { 
                <ul><li class="text-danger">@ViewBag.Error</li></ul>           
                }
               
                <div class="form-group my-5 text-center">
                    <div class="">
                        @Html.TextBoxFor(m => m.Pesel, new { @class = "register-input", @placeholder = "Wpisz twój numer Pesel" })

                        <button type="button" class="btn btn-sm btn-outline-info font-weight-bold" data-toggle="modal" data-target="#modalPesel">
                            ?
                        </button>
                    </div>
                </div>
                <div class="form-group my-5 text-center">
                    <div class="">
                        @Html.TextBoxFor(m => m.Email, new { @class = "register-input", @placeholder = "Wpisz adres E-Mail" })
                        <button type="button" class="btn btn-sm btn-outline-info font-weight-bold" data-toggle="modal" data-target="#modalE-mail">
                            ?
                        </button>
                    </div>
                </div>
                <div class="form-group my-5 text-center">
                    <div class="">
                        @Html.PasswordFor(m => m.Password, new { @class = "register-input", @placeholder = "Wpisz hasło" })
                        <button type="button" class="btn btn-sm btn-outline-info font-weight-bold" data-toggle="modal" data-target="#modalPassword">
                            ?
                        </button>
                    </div>
                </div>
                <div class="form-group my-5 text-center">
                    <div class="">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "register-input", @placeholder = "Powtórz hasło" })
                        <button type="button" class="btn btn-sm btn-outline-info font-weight-bold" data-toggle="modal" data-target="#modalConfirmPassword">
                            ?
                        </button>
                    </div>
                    <div class="custom-control custom-checkbox mt-4">
                        <input type="checkbox" name="AcceptRegulations" id="AcceptRegulations" value="Akceptuję regulamin" required class="custom-control-input mt-5" />
                        <label for="AcceptRegulations" class="custom-control-label"> Akceptuję regulamin</label>
                    </div>
                </div>
                <div class="form-group my-5">
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="Zarejestruj się" />
                    </div>
                </div>
            }

            <!-- Modals -->
            <div class="modal fade" id="modalPesel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Dlaczego muszę podać numer Pesel?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            Numer pesel jest niezbędny do identyfikacji abonenta. Podczas rejestracji sprawdzany jest tylko numer z istniejącą bazą. Jeśli twojego numeru pesel nie ma w bazie, nie będzie on zapisany.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalE-mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Dlaczego muszę podać adres E-Mail?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            Twój E-Mail posłuży do rejestracji oraz logwania a koncie. Pamiętaj aby wprowadzić twój aktualny adres E-Mail, ponieważ będziesz otrzymywać powiadomienia o koncie.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Hasło</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            Hasło powinno składać się z minimum 8 znaków, w tym jedna DUŻA litera, jedna cyfra oraz znak specjalny.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalConfirmPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Potwierdzenie hasła</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-justify">
                            Wprowadź ponownie to samo hasło.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/umd/popper.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    var register = 1;
    $(document).ready(function () {
        $('#peselPopover').popover();
    });
    $(document).ready(function () {
        $('#e-mailPopover').popover();
    });
    $(document).ready(function () {
        $('#passwordPopover').popover();
    });
    $(document).ready(function () {
        $('#confirmPasswordPopover').popover();
    });
    document.querySelector("main").style.background = 'url("../Content/images/login_background3.jpg") center  no-repeat';
    document.querySelector("main").style.backgroundSize = 'cover';

</script>


