﻿@model complaint_site.ViewModels.ReportViewModel
@{
    ViewBag.Title = "AddAnswer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4 font-weight-bold ">
    <h2 class="text-center">Dodaj sowją odpowiedź</h2>
    <hr />
    <div class="col-9 mx-auto">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdReport)
            <div class="form-group">
                @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label class="control-label" for="ReplyReport">Odpowiedź pracownika</label>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.ReplyReport, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.ReplyReport, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Twoja odpowiedź</label>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Zatwierdź" class="btn btn-success" />
                    @Html.ActionLink("Anuluj", "Details", new { id = Model.IdReport }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
        }
    </div>
</section>

<script>
    var main = document.querySelector("main");
    main.style.backgroundColor = "bisque";
</script>