﻿@model complaint_site.Models.Report

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4 font-weight-bold reportsCreate">
    <h2 class="text-center">Stwórz zgłoszenie</h2>
    <hr />

    @using (Html.BeginForm("Create", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-8 mx-auto">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> Type = new List<SelectListItem>();

                        Type.Add(new SelectListItem { Text = "Zlecenie", Value = "Zlecenie" });
                        Type.Add(new SelectListItem { Text = "Reklamacja", Value = "Reklamacja" });
                        Type.Add(new SelectListItem { Text = "Skarga", Value = "Skarga" });
                        Type.Add(new SelectListItem { Text = "Problem techniczny", Value = "Problem techniczny" });
                    }
                    @Html.DropDownListFor(model => model.Type, Type, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group d-none" id="categoryOrder">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> Category = new List<SelectListItem>();
                    }
                    @Html.DropDownListFor(model => model.Category, Category, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="duplicateContract">
                @Html.LabelFor(model => model.DuplicateContract, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> DuplicateContract = new List<SelectListItem>();
                        DuplicateContract.Add(new SelectListItem { Text = "E-Mail", Value = "E-Mail" });
                        DuplicateContract.Add(new SelectListItem { Text = "Adres korespondencyjny", Value = "Adres korespondencyjny" });
                    }
                    @Html.DropDownListFor(model => model.DuplicateContract, DuplicateContract, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DuplicateContract, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="reasonForComplaint">
                @Html.LabelFor(model => model.ReasonForComplaint, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> ReasonForComplaint = new List<SelectListItem>();

                    }
                    @Html.DropDownListFor(model => model.ReasonForComplaint, ReasonForComplaint, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ReasonForComplaint, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="placeComplaint">
                @Html.LabelFor(model => model.PlaceComplaint, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> PlaceComplaint = new List<SelectListItem>();
                        PlaceComplaint.Add(new SelectListItem { Text = "Na infolinii", Value = "Na infolinii" });
                        PlaceComplaint.Add(new SelectListItem { Text = "W zgłoszeniu", Value = "W zgłoszeniu" });
                        PlaceComplaint.Add(new SelectListItem { Text = "W E-Mialu", Value = "W E-Mialu" });
                        PlaceComplaint.Add(new SelectListItem { Text = "Osobiście", Value = "Osobiście" });
                    }
                    @Html.DropDownListFor(model => model.PlaceComplaint, PlaceComplaint, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PlaceComplaint, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="sinceWhen">
                <label id="sinceWhenLabel" class="control-label col-md-12"></label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SinceWhen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SinceWhen, "", new { @class = "text-danger" })
                    <div class="custom-control custom-checkbox mt-3 d-none" id="forgetSinceWhenCheckbox">
                        <input type="checkbox" class="custom-control-input" id="forgetSinceWhen">
                        <label class="custom-control-label" for="forgetSinceWhen">Nie pamiętam</label>
                    </div>
                    <div class="custom-control custom-checkbox mt-3 d-none" id="techSinceWhenCheckbox">
                        <input type="checkbox" class="custom-control-input" id="techSinceWhen">
                        <label class="custom-control-label" for="techSinceWhen">Dzisiaj</label>
                    </div>
                </div>
            </div>

            <div class="form-group d-none" id="othershaveProblem">
                @Html.LabelFor(model => model.OthershaveProblem, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> YesNo = new List<SelectListItem>();
                        YesNo.Add(new SelectListItem { Text = "TAK", Value = "TAK" });
                        YesNo.Add(new SelectListItem { Text = "NIE", Value = "NIE" });
                        YesNo.Add(new SelectListItem { Text = "NIE WIEM", Value = "NIE WIEM" });
                    }
                    @Html.DropDownListFor(model => model.OthershaveProblem, YesNo, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OthershaveProblem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="devices">
                @Html.LabelFor(model => model.Devices, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.DropDownListFor(model => model.Devices, YesNo, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Devices, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="speedInternet">
                @Html.LabelFor(model => model.SpeedInternet, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SpeedInternet, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SpeedInternet, "", new { @class = "text-danger" })
                    <div class="custom-control custom-checkbox mt-3 ">
                        <input type="checkbox" class="custom-control-input" id="speedInternetCheckbox">
                        <label class="custom-control-label" for="speedInternetCheckbox">Nie znam prędkości</label>
                    </div>
                </div>
            </div>

            <div class="form-group d-none" id="allSites">
                @Html.LabelFor(model => model.AllSites, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @{
                        List<SelectListItem> Sites = new List<SelectListItem>();
                        Sites.Add(new SelectListItem { Text = "TAK", Value = "TAK" });
                        Sites.Add(new SelectListItem { Text = "NIE", Value = "NIE" });
                        Sites.Add(new SelectListItem { Text = "Problem dotyczy programu", Value = "Problem dotyczy programu" });
                    }
                    @Html.DropDownListFor(model => model.AllSites, Sites, "--wybierz--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AllSites, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="siteUrl">
                @Html.LabelFor(model => model.SiteUrl, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SiteUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SiteUrl, "", new { @class = "text-danger" })
                    <div class="custom-control custom-checkbox mt-3 ">
                        <input type="checkbox" class="custom-control-input" id="siteUrlCheckbox">
                        <label class="custom-control-label" for="siteUrlCheckbox">Nie chcę podawać</label>
                    </div>
                </div>
            </div>

            <div class="form-group d-none" id="programName">
                @Html.LabelFor(model => model.ProgramName, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ProgramName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProgramName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="description">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group d-none" id="expectations">
                @Html.LabelFor(model => model.Expectations, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Expectations, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Expectations, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none" id="images">
                @Html.LabelFor(model => model.Images, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="postedFile" id="Images" class="btn btn-outline-info" accept="image/*"/>
                    @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.Data_of_issue)

            <div class="form-group d-none" id="submitForm">
                <div class="col-md-offset-2 col-md-12 text-center">
                    <input type="submit" value="Wyślij zgłoszenie" class="btn btn-outline-success font-weight-bold" />
                </div>
            </div>

            <div class="text-center">
                <a href="@Url.Action("Index","Reports")" class="btn btn-outline-primary font-weight-bold">Wróć do listy zgłoszeń</a>
            </div>
        </div>
    }
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Report.js"></script>
