﻿@model complaint_site.Models.Report

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="delete">
    <h4>Czy jesteś pewny na usunięcie zgłoszenia?</h4>
    <h3 class="text-danger mt-4">Jest to operacja nieodwracalna</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions mt-5">
            <input type="submit" value="Tak chcę usunąć zgłoszenie" class="btn btn-danger font-weight-bold" />
            @Html.ActionLink("Wróć do zgłoszenia", "Details", new { id = Model.IdReport }, new { @class = "btn btn-dark font-weight-bold" })
            <a href="@Url.Action("Index", "Reports")" class="btn btn-primary font-weight-bold ">Wróć do listy</a>
        </div>
    }
</section>

<script>
    document.querySelector("main").style.backgroundColor = "gainsboro";
</script>