﻿@using Microsoft.AspNet.Identity
@model complaint_site.Models.Report
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4 font-weight-bold">
    <h2 class="text-center">Szczegóły zgłoszenia</h2>
    <hr />
    <div class="col-9 mx-auto detailsReportForm">
        <div class="row">
            <div class="col">
                <a href="@Url.Action("Index", "Reports")" class="btn btn-primary font-weight-bold">Wróć do listy zgłoszeń</a>
            </div>

            <div class="col text-right my-auto">
                Status:
                @switch (Model.Status)
                {
                    case "Wymaga dodatkowych informacji":
                        <div class="badge p-2 badge-info">@Html.DisplayFor(model => model.Status)</div>
                        break;
                    case "Rozpatrzono":
                        <div class="badge p-2 badge-success">@Html.DisplayFor(model => model.Status)</div>
                        break;
                    case "Do rozpatrzenia":
                        <div class="badge p-2 badge-secondary">@Html.DisplayFor(model => model.Status)</div>
                        break;
                    case "Odrzucono":
                        <div class="badge p-2 badge-danger">@Html.DisplayFor(model => model.Status)</div>
                        break;
                    case "W trakcie realizacji":
                        <div class="badge p-2 badge-warning">@Html.DisplayFor(model => model.Status)</div>
                        break;
                }<br />
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-4">
                Zgłoszenie utworzył:
                <div class="font-weight-normal">
                    @Html.DisplayFor(model => model.Customer.Name)<br />
                    @Html.DisplayFor(model => model.Customer.Surname)<br />
                    @Html.DisplayFor(model => model.Customer.City) ul. @Html.DisplayFor(model => model.Customer.Street)
                    <br />
                    @Html.DisplayFor(model => model.Customer.Tariff.Name)
                </div>
            </div>
            <div class="col-8 text-right">
                ID Zgłoszenia:
                <span class="font-weight-normal">
                    @Html.DisplayFor(model => model.IdReport)
                </span><br />
                Data utworzenia:
                <span class="font-weight-normal">
                    @Html.DisplayFor(model => model.Data_of_issue)
                    @Html.DisplayFor(model => model.Data_of_issue.TimeOfDay)
                </span>
                @if (Model.DataChangeStatus != null)
                {
                    <br />
                    <text>Data rozpatrzenia:</text>
                    <span class="font-weight-normal"> @Html.DisplayFor(model => model.DataChangeStatus.Value)</span><br />
                }
                @if (Model.Workers != null)
                {
                    <text>Złgoszenie rozpatrzył:</text>

                    <div class="font-weight-normal">
                        @Html.DisplayFor(model => model.Workers.Name)
                        @Html.DisplayFor(model => model.Workers.Surname)

                    </div>
                }
            </div>
        </div>
        <div class="label">
            <div class="label">
                @Html.LabelFor(model => model.Type)
                <input type="text" value="@Html.DisplayFor(model => model.Type)" name="Type" readonly class="form-control" />
            </div>
            <div class="label">
                @Html.LabelFor(model => model.Category)
                <input type="text" value="@Html.DisplayFor(model => model.Category)" name="Category" readonly class="form-control" />
            </div>
            @if (Model.DuplicateContract != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.DuplicateContract)
                    <input type="text" value="@Html.DisplayFor(model => model.DuplicateContract)" name="DuplicateContract" readonly class="form-control" />
                </div>
            }
            @if (Model.ReasonForComplaint != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.ReasonForComplaint)
                    <input type="text" value="@Html.DisplayFor(model => model.ReasonForComplaint)" name="ReasonForComplaint" readonly class="form-control" />
                </div>
            }
            @if (Model.SinceWhen != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.SinceWhen)
                    <input type="text" value="@Html.DisplayFor(model => model.SinceWhen)" name="SinceWhen" readonly class="form-control" />
                </div>
            }
            @if (Model.OthershaveProblem != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.OthershaveProblem)
                    <input type="text" value="@Html.DisplayFor(model => model.OthershaveProblem)" name="OthershaveProblem" readonly class="form-control" />
                </div>
            }
            @if (Model.Devices != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.Devices)
                    <input type="text" value="@Html.DisplayFor(model => model.Devices)" name="Devices" readonly class="form-control" />
                </div>
            }
            @if (Model.AllSites != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.AllSites)
                    <input type="text" value="@Html.DisplayFor(model => model.AllSites)" name="AllSites" readonly class="form-control" />
                </div>
            }
            @if (Model.SpeedInternet != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.SpeedInternet)
                    <input type="text" value="@Html.DisplayFor(model => model.SpeedInternet)" name="SpeedInternet" readonly class="form-control" />
                </div>
            }
            @if (Model.SiteUrl != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.SiteUrl)
                    <p class="form-control" style="height:auto !important; background-color:#e9ecef;">
                        @Html.DisplayFor(model => model.SiteUrl)
                    </p>
                </div>
            }
            @if (Model.ProgramName != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.ProgramName)
                    <input type="text" value="@Html.DisplayFor(model => model.ProgramName)" name="ProgramName" readonly class="form-control" />
                </div>
            }
            <div class="label">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @readonly = "readonly", @class = "form-control" })
            </div>
            @if (Model.Expectations != null)
            {
                <div class="label">
                    @if (User.IsInRole("Customer"))
                    {
                        @Html.LabelFor(model => model.Expectations)
                    }
                    <label for="Expectations">Oczekiwania klienta</label>
                    @Html.TextAreaFor(model => model.Expectations, new { @readonly = "readonly", @class = "form-control" })
                </div>
            }
            @if (Model.ReplyReport != null)
            {
                <div class="label">
                    @Html.LabelFor(model => model.ReplyReport)
                    @Html.TextAreaFor(model => model.ReplyReport, new { @readonly = "readonly", @class = "form-control" })
                </div>
            }

            @*http://www.nullskull.com/a/10450951/aspnet-mvc-display-images-directly-from-the-viewmodel-into-your-views.aspx*@
            @foreach (var item in Model.Images)
            {
                byte[] photo = item.Data;
                var fileName = item.Name;
                string imageSrc = null;
                if (photo != null)
                {
                    MemoryStream ms = new MemoryStream();
                    ms.Write(photo, 0, photo.Length); // strip out 78 byte OLE header (don't need to do this for normal images)
                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                    imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                }
                <div class="label">
                    <label for="Image">Zdjęcie</label><br />
                    <img src="@imageSrc" alt="@fileName" id="Image" style="max-width:200px; max-height:200px;" data-action="zoom" />
                </div>
            }
        </div>
        <div class="text-center my-4">
            @if (User.IsInRole("Customer"))
            {
                if (Model.Status == "Wymaga dodatkowych informacji")
                {
                    @Html.ActionLink("Dodaj swoją odpowiedź", "AddAnswer", new { id = Model.IdReport }, new { @class = "btn btn-info" })
                }
            }
            @if (User.IsInRole("Worker") || User.IsInRole("Admin"))
            {
                if (Model.Status == "Do rozpatrzenia")
                {
                    @Html.ActionLink("Odpowiedz na zgłoszenie", "Replyreport", new { id = Model.IdReport }, new { @class = "btn btn-info font-weight-bold" })
                }
                else if (Model.Status == "W trakcie realizacji")
                {
                    @Html.ActionLink("Zakończ rozpatrywanie zgłoszenia", "Replyreport", new { id = Model.IdReport }, new { @class = "btn btn-info font-weight-bold" })
                }
                else
                {
                    @Html.ActionLink("Otwórz ponownie zgłoszenie", "Replyreport", new { id = Model.IdReport }, new { @class = "btn btn-light font-weight-bold" })
                }

            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Usuń zgłoszenie", "Delete", new { id = Model.IdReport }, new { @class = "btn btn-danger font-weight-bold" })
            }

        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/zoom.js"></script>
<script>
    var detailsReportWorker = true;
</script>
