﻿@model IEnumerable<complaint_site.Models.Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="mb-5">
    <h2 class="text-center mr-5">Lista zgłoszeń</h2>
    <p>
        @if (User.IsInRole("Customer"))
        {
            <a href="@Url.Action("Create", "Reports")" class="btn btn-outline-primary font-weight-bold ml-3">Utwórz zgłoszenie</a>
        }

    </p>
    <table class="table display table-hover" id="reportsTable">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Type)</th>
                <th>@Html.DisplayNameFor(model => model.Category)</th>
                <th>@Html.DisplayNameFor(model => model.Data_of_issue)</th>
                @if (User.IsInRole("Worker") || User.IsInRole("Admin"))
                {
                    <th>@Html.DisplayNameFor(model => model.User.Email) klienta</th>
                }
                else {<th>@Html.DisplayNameFor(model => model.DataChangeStatus)</th> }
                <th>@Html.DisplayNameFor(model => model.Status)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("Details", "Reports", new { id=item.IdReport})'" style="cursor:pointer !important">
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Category)</td>
                    <td class="text-center">@Html.DisplayFor(modelItem => item.Data_of_issue)</td>
                    @if (User.IsInRole("Worker") || User.IsInRole("Admin"))
                    {
                        <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                    }
                    else { <td>@Html.DisplayFor(modelItem => item.DataChangeStatus)</td>}
                    <td class="text-center"><span class="statusReport align-middle ">@Html.DisplayFor(modelItem => item.Status)</span></td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script>
    document.querySelector("#zgloszenia").classList.add("active");
    var el = document.querySelectorAll(".statusReport");
    for (var i = 0; i < el.length; i++) {
        if (el[i].innerHTML == 'Rozpatrzono') {
            el[i].className = "badge p-2 badge-success";
        }
        else if (el[i].innerHTML == 'Wymaga dodatkowych informacji') {
            el[i].className = "badge p-2 badge-info";
        }
        else if (el[i].innerHTML == 'Odrzucono') {
            el[i].className = "badge p-2 badge-danger";
        }
        else if (el[i].innerHTML == 'Do rozpatrzenia') {
            el[i].className = "badge p-2 badge-secondary";
        }
        else if (el[i].innerHTML == 'W trakcie realizacji') {
            el[i].className = "badge p-2 badge-warning";
        }
    }
</script>
