﻿@model complaint_site.ViewModels.ReportViewModel
@{
    ViewBag.Title = "ReplyReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-4 font-weight-bold">
    <h2 class="text-center">Odpowiedź na zgłoszenie</h2>
    <hr />
    <div class="form-group col-9 mx-auto">
        @using (Html.BeginForm("ReplyReport", "Reports", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdReport)

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ReplyReport, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.ReplyReport, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReplyReport, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" name="success" value="Rozpatrz zgłoszenie pozytywnie" class="btn btn-sm btn-success  my-1" />
                        <input type="submit" name="begin" value="Rozpocznij rozpatrywanie zgłoszenia" class="btn btn-sm btn-warning my-1" />
                        <input type="submit" name="needSomeInfo" value="Wymaga dodatkowych informacji" class="btn btn-sm btn-dark my-1" />
                        <input type="submit" name="failed" value="Rozpatrz zgłoszenie negatywnie" class="btn btn-sm btn-danger my-1" />
                        <p>
                            @Html.ActionLink("Anuluj", "Details", new { id = Model.IdReport }, new { @class = "btn btn-lg btn-secondary font-weight-bold my-2" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

</section>
<script>
    var input = document.querySelector("input");
    var status = document.querySelector("#Status");
    console.log(status.value);
    input.addEventListener("click", function () {
        switch (input.value) {
            case "Rozpatrz zgłoszenie pozytywnie":
                status.innerHTML = "Rozpatrzono";
                break;
            case "Zgłoszenie wymaga dodatkowych informacji":
                status.innerHTML = "Wymaga dodatkowych informacji";
                break;
            case "Rozpatrz zgłoszenie negatywnie":
                status.innerHTML = "Odrzucono";
                break;
            case "Rozpocznij rozpatrywanie zgłoszenia":
                status.innerHTML = "W trakcie realizacji";
                break;
        }
    });
    document.querySelector("main").style.backgroundColor = "gainsboro";
</script>
