﻿html,
body {
    height: 100% !important;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/
.container {
    margin: 0 auto !important;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-black {
    background-color: black;
}

.link-green {
    color: white;
}

    .link-green:hover {
        color: #54EE23;
        text-decoration: none;
    }

.ispLogo {
    font-size: 1.9rem;
}

.accountIcon {
    font-size: 1.5rem;
    line-height: 0;
}

.accountIconText {
    font-size: 0.6rem;
    line-height: 0.7;
    text-align: center;
    margin-bottom: 5px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    z-index:2
}

@media only screen and (min-width:992px) {
    .marginLeft {
        margin-left: 60px;
    }
}

main {
    flex: 1 0 auto;
}

.margin-0 {
    margin: 0px;
    padding: 0px;
    max-width: 100vw !important;
}

.homeNavbar {
    background-color: rgba(0,0,0,0.5);
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel {
    background-color: black;
}

.carousel-caption {
    max-width: 550px;
    padding: 0 20px;
    top: 40%;
    margin: 0 auto;
    text-align: center;
}

#tariffs {
    background-color: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 50px;
}

.podstawowy {
    background-color: #7F320E;
    color: white;
}

.optymalny {
    background-color: #3B40BF;
    color: white;
}

.bogaty {
    background-color: #4EB326;
    color: white;
}

.premium {
    background-color: #FF6D29;
    color: white;
}

.contact i {
    font-size: 4rem;
}

.login {
    background-image: url('images/login-background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height:80vh;
    z-index:0;

}

#loginForm {
    max-width: 40vh;
}

    #loginForm a {
        color: #2a91ff;
        font-weight: 700;
    }

.loginInput {
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-bottom: 1.5px solid white;
    width: 50vh;
    color: white;
}

    .loginInput::-webkit-input-placeholder {
        color: lightgrey;
    }

.text-validate {
    font-weight: 500;
    color: #ff8490;
}


.register {
    background-image: url('images/login_background3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 20vh;
    margin: 0 auto;
}

/*.register-card {
    max-width: 70vw;
    z-index: 0;
}*/

.register-input {
    background-color: rgba(0,0,0,0);
    border: 0px;
    border-bottom: 1.5px solid black;
    width: 35vw;
    color: black;
}
.card-body{
    background-color: ghostwhite !important;
}

.popovers {
    display: block;
}

.manageNav {
    margin-top:20px;
    left: 0;
    position: absolute;
    right: 0;
}
.separatorNav {
    padding: 45px 0;
}
@media only screen and (max-width:583px){
    .separatorNav{
        padding:55px 0;
    }
}
@media only screen and (max-width:583px){
    .separatorNav{
        padding:75px 0;
    }
}
.separated{
    height:50vh;
    width:90vw;
}

.changePassword{
    max-width:50vh;
}
.contactBackground {
    background-image: url('images/contact_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact iframe{
    width:100%;
    height:100%;
}
.contact i {
    vertical-align: -webkit-baseline-middle;
    font-size:4rem;
}
@media only screen and (max-width:767px){
    .contact{
        text-align:center;
    }
}
.clickable-row {
    cursor: pointer !important;
}

.delete{
    text-align:center;
    margin: 20vh 0;
}
.reportsCreate select, input, textarea{
    max-width:100% !important;
}

.detailsReportWorker {
    background-color: gainsboro;
}
.detailsReportForm label{
    margin-top: 25px !important;
}
.headerRegulations{
    font-weight:700;
    font-size:1.25rem;
    margin-top:21px;
}
