﻿@model complaint_site.Models.Worker
<section class="delete">
    <h4>Czy jesteś pewny na usunięcie pracownika?</h4>
    <h3 class="text-danger mt-4">Jest to operacja nieodwracalna</h3>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions mt-5">
                <input type="submit" value="Tak chcę usunąć pracownika" class="btn btn-outline-danger font-weight-bold" />
                @Html.ActionLink("Wróć do pracownika", "Details", new { id = Model.IdWorker }, new { @class = "btn btn-outline-dark font-weight-bold" })
                <a href="@Url.Action("Index", "Workers")" class="btn btn-outline-primary font-weight-bold ">Wróć do listy</a>
            </div>
        }
    </div>
</section>