﻿@model complaint_site.Models.Worker

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4">
    <h2 class="text-center">Dane pracownika</h2>
    <hr />
    <a href="@Url.Action("Index", "Workers")" class="btn btn-outline-primary font-weight-bold">Wróć do listy</a>
    <h4 class="mt-3">Dane podstawowe:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Surname)</div>
            <div>@Html.DisplayNameFor(model => model.PrivatePhone)</div>
            <div>@Html.DisplayNameFor(model => model.WorkPhone)</div>
        </div>

        <div class="col-2">
            <div>@Html.DisplayFor(model => model.Name)</div>
            <div>@Html.DisplayFor(model => model.Surname)</div>
            <div>@Html.DisplayFor(model => model.PrivatePhone)</div>
            <div>@Html.DisplayFor(model => model.WorkPhone)</div>
        </div>
        <div class="col-4 text-right font-weight-bold">
            <div>@Html.DisplayNameFor(model => model.Pesel)</div>
            <div>@Html.DisplayNameFor(model => model.IdNumber)</div>
            <div>Login</div>
        </div>
        <div class="col-3">
            <div>@Html.DisplayFor(model => model.Pesel)</div>
            <div>@Html.DisplayFor(model => model.IdNumber)</div>
            <div>@Html.DisplayFor(model => model.User.Email)</div>
        </div>
    </div>

    <h4 class="mt-5">Dane adresowe:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.City)</div>
            <div>@Html.DisplayNameFor(model => model.Street)</div>
            <div>@Html.DisplayNameFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayNameFor(model => model.ZIPCode)</div>
        </div>


        <div class="col-3">
            <div>@Html.DisplayFor(model => model.City)</div>
            <div>@Html.DisplayFor(model => model.Street)</div>
            <div>@Html.DisplayFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayFor(model => model.ZIPCode)</div>
        </div>
    </div>
    <div class="text-center my-3">
        @Html.ActionLink("Edytuj pracownika", "Edit", new { id = Model.IdWorker }, new { @class = "btn btn-outline-dark font-weight-bold" })
        @Html.ActionLink("Usuń pracownika", "Delete", new { id = Model.IdWorker}, new { @class = "btn btn-outline-danger font-weight-bold"})
        @*<button type="button" class="btn btn-outline-danger font-weight-bold" data-toggle="modal" data-target="#exampleModalCenter">
                Usuń pracownika
            </button>*@
    </div>
</section>
<script>

</script>