﻿@model complaint_site.Models.Worker

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4 font-weight-bold">
    <h2 class="text-center">Edycja danych pracownika</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdWorker)
        <h4 class="mt-3">Dane podstawowe:</h4>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkPhone, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.WorkPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.PrivatePhone, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.PrivatePhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PrivatePhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">

                <div class="form-group">
                    @Html.LabelFor(model => model.Pesel, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.Pesel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pesel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdNumber, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mt-4">Dane adresowe:</h4>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.ZIPCode, htmlAttributes: new { @class = "control-label  " })
                    <div class=" ">
                        @Html.EditorFor(model => model.ZIPCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZIPCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-3">
            <input type="submit" value="Zapisz" class="btn btn-outline-success font-weight-bold" />
            @Html.ActionLink("Wróć do pracownika", "Details", new { id = Model.IdWorker}, new { @class = "btn btn-outline-dark font-weight-bold" })            <a href="@Url.Action("Index", "Workers")" class="btn btn-outline-primary font-weight-bold">Wróć do listy</a>
        </div>
    }
</section>