﻿@model IEnumerable<complaint_site.ViewModels.WorkerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="pb-5">
    <h2 class="text-center mr-5">Lista pracowników</h2>
    <p>
        <a href="@Url.Action("Create","Workers")" class="btn btn-outline-primary font-weight-bold">Dodaj nowego pracownika</a>
    </p>
    <table class="table table-hover" id="customerTable">
        <thead class="">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Surname)</th>
                <th>Adres</th>
                <th>@Html.DisplayNameFor(model => model.WorkPhone)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="clickable-row" data-href="@Url.Action("Details", "Workers", new { id=item.IdWorker })">
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                        @Html.DisplayFor(modelItem => item.Street)
                        @Html.DisplayFor(modelItem => item.HouseNumber)
                        @Html.DisplayFor(modelItem => item.ZIPCode)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.WorkPhone)</td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script>
    document.querySelector("#pracownicy").classList.add("active");
</script>