﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/fontello-303355d3/css/fontello.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/Content/zoom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="d-flex flex-column">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black text-uppercase sticky-top">
        <div class="container px-3">
            <a class="ispLogo link-green" href="@Url.Action("Index", "Home")">ISP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center mx-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item py-1 px-3">
                        <a class="link-green " href="@Url.Action("Index", "Home")">Strona główna</a>
                    </li>
                    <li class="nav-item py-1 px-3">
                        <a href="" id="offer" class="link-green">oferta</a>
                    </li>

                    <li class="nav-item py-1 px-3">
                        <a class="link-green" href="@Url.Action("Regulations", "Home")">Regulamin</a>
                    </li>
                    <li class="nav-item py-1 px-3">
                        <a class="link-green" href="@Url.Action("Contact", "Home")">Kontakt</a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <main role="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </main>
    <footer class="mt-auto py-3">
        <div class="">
            <p>Wyższa Szkoła Informatyki i Zarządzania w Rzeszowie</p>
            <p>&copy; @DateTime.Now.Year</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script>
        if (typeof login !== 'undefined') {
            document.querySelector("main .container").classList.remove("container");
        }
        else if (typeof register !== 'undefined') {
            document.querySelector("main .container").classList.remove("container");
        }

        if (typeof home !== 'undefined') {
            document.querySelector("main .container").classList.add("margin-0");
            document.querySelector("nav").classList.remove("sticky-top");
            document.querySelector("nav").classList.add("fixed-top");
            document.querySelector("nav").classList.add("homeNavbar");
            document.querySelector("#offer").href = "#tariffs";
        }
        else {
            document.querySelector("#offer").href = '@Url.Action("Index", "Home")#tariffs';
        }

        //backgrounds
        if (typeof contact !== 'undefined') {
            document.querySelector("main").classList.add("contactBackground");
        }
        if (typeof detailsReportWorker !== 'undefined') {
            document.querySelector("main").classList.add("detailsReportWorker");
        }

        $(document).ready(function () {
            $("#customerTable").DataTable({
                language: {
                    search: "Szukaj",
                    processing: "Wczytywanie danych",
                    lengthMenu: "Pokaż _MENU_  elementów",
                    info: "Wyświetlono od _START_ do _END_ z _TOTAL_ elementów",
                    infoEmpty:      "Wyświetlono od 0 do 0 z 0 elementów",
                    infoFiltered:   "( _MAX_ )",
                    infoPostFix:    "",
                    loadingRecords: "Wczytywanie danych...",
                    zeroRecords:    "Brak danych",
                    emptyTable:     "Baza pracowników jest pusta",
                    paginate: {
                       first:      "<<",
                       previous:   "<",
                       next:       ">",
                       last:       ">>"
                    },
                    aria: {
                        sortAscending: "Sortuj rosnąco",
                        sortDescending: "Sortuj malejąco"
                    }
                },
            });
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
            
        });

        $(document).ready(function () {
            $("#reportsTable").DataTable({
                "order": [[4, "asc"]],
                language: {
                    search: "Szukaj",
                    processing: "Wczytywanie danych",
                    lengthMenu: "Pokaż _MENU_  elementów",
                    info: "Wyświetlono od _START_ do _END_ z _TOTAL_ elementów",
                    infoEmpty:      "Wyświetlono od 0 do 0 z 0 elementów",
                    infoFiltered:   "( _MAX_ )",
                    infoPostFix:    "",
                    loadingRecords: "Wczytywanie danych...",
                    zeroRecords:    "Brak danych",
                    emptyTable:     "Baza zgłoszeń jest pusta",
                    paginate: {
                       first:      "<<",
                       previous:   "<",
                       next:       ">",
                       last:       ">>"
                    },
                    aria: {
                        sortAscending: "Sortuj rosnąco",
                        sortDescending: "Sortuj malejąco"
                    }

                },
            });
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

        if (typeof checkBox != 'undefined') {
            var City = document.querySelector("#City");
    var Street = document.querySelector("#Street");
    var HouseNumber = document.querySelector("#HouseNumber");
    var ZIPCode = document.querySelector("#ZIPCode");
    var CityCorespondence = document.querySelector("#CityCorespondence");
    var StreetCorespondence = document.querySelector("#StreetCorespondence");
    var HouseNumberCorespondence = document.querySelector("#HouseNumberCorespondence");
    var ZIPCodeCorespondence = document.querySelector("#ZIPCodeCorespondence");

    checkBox.addEventListener('change', function (event) {
        if (this.checked) {
            CityCorespondence.value = City.value;
            CityCorespondence.readOnly = true;
            StreetCorespondence.value = Street.value;
            StreetCorespondence.readOnly = true;
            HouseNumberCorespondence.value = HouseNumber.value;
            HouseNumberCorespondence.readOnly = true;
            ZIPCodeCorespondence.value = ZIPCode.value;
            ZIPCodeCorespondence.readOnly = true;
        }
        else {
            CityCorespondence.readOnly = false;
            CityCorespondence.value = null;
            StreetCorespondence.readOnly = false;
            StreetCorespondence.value = "";
            HouseNumberCorespondence.readOnly = false;
            HouseNumberCorespondence.value = "";
            ZIPCodeCorespondence.readOnly = false;
            ZIPCodeCorespondence.value = "";
        }
    });
        }

         $(document).ready(function () {
        $('textarea').on("focus input", function () {
            $(this).css('height', 'auto').css('height', this.scrollHeight + (this.offsetHeight - this.clientHeight));
        });
    });

    </script>
</body>
</html>
