﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="marginLeft">
                <a href="@Url.Action("Index", "Manage")" class="link-green" id="loginLink" title="Manage">
                        <i class="icon-user accountIcon"></i>
                        <p class="accountIconText">@User.Identity.GetUserName()</p>
                </a>
            @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>*@
    </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    @*<li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class =  "link-green px-2"  })</li>*@
    <li class="marginLeft">
        <a href="@Url.Action("Login","Account")" class="link-green" id="loginLink">
            <i class="icon-user accountIcon"></i><p class="accountIconText">konto</p>
        </a>
    </li>
    @*<li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
</ul>

}
