﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowano";
}
<section style="margin: 18vh 0" class="text-center">
    <hgroup class="">
        <h1 class="text-danger">Zablokowano.</h1>
        <h2 class="text-danger">To konto zostało zablokowane.</h2>
        <h5 class="my-4">W celu wyjaśnienia okoliczności blokady zapraszamy do kontatku.</h5>
    </hgroup>
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary font-weight-bold">Strona główna</a>
    <a href="@Url.Action("Contact", "Home")" class="btn btn-outline-dark font-weight-bold">Kontakt z nami</a>
</section>
<script>
    document.querySelector("main").style.backgroundColor = "lavender";
</script>