﻿@using Microsoft.AspNet.Identity
    <section class="manageNav">
        @if (Context.User.IsInRole("Customer"))
        {
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link" id="mojeKonto" href="@Url.Action("Index", "Manage")">Moje konto</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Reports")" class="nav-link" id="zgloszenia">Zgłoszenia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("PersonalData", "Manage")" id="mojeDane">Moje dane</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ChangePassword", "Manage")" id="zmianaHasla">Zmiana hasła</a>
                </li>
                <li class="nav-item text-right">
                    <a class="btn btn-primary ml-2" href="javascript:document.getElementById('logoutForm').submit()" id="zmianaHasla">Wyloguj się</a>
                </li>
            </ul>
        }
        @if (Context.User.IsInRole("Worker"))
        {
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item ">
                    <a class="nav-link" id="mojeKonto" href="@Url.Action("Index", "Manage")">Moje konto</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Reports")" class="nav-link" id="zgloszenia">Zgłoszenia klientów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Customers")" id="klienci">Klienci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ChangePassword", "Manage")" id="zmianaHasla">Zmiana hasła</a>
                </li>
                <li class="nav-item text-right">
                    <a class="btn btn-secondary" href="javascript:document.getElementById('logoutForm').submit()" id="zmianaHasla">Wyloguj się</a>
                </li>
            </ul>
        }
        @if (Context.User.IsInRole("Admin"))
        {
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item ">
            <a class="nav-link" id="mojeKonto" href="@Url.Action("Index", "Manage")">Moje konto</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Index", "Reports")" class="nav-link" id="zgloszenia">Zgłoszenia klientów</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Customers")" id="klienci">Klienci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Workers")" id="pracownicy">Pracownicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ChangePassword", "Manage")" id="zmianaHasla">Zmiana hasła</a>
        </li>
        <li class="nav-item text-right">
            <a class="btn btn-warning" href="javascript:document.getElementById('logoutForm').submit()" id="zmianaHasla">Wyloguj się</a>
        </li>
    </ul>
        }
    </section>
<div class="separatorNav"></div>
