﻿<section class="contact my-5 row text-white">
    <div class="col-md-5">
        <h2 class="text-center mb-5">KONTAKT</h2>
        <div class="row">
            <div class="col-md-3 text-center">
                <i class="demo-icon icon-phone"></i>
            </div>
            <div class="col-md-9">
                <h5>Infolinia:</h5>
                <h5>
                    123 456 789 <br />
                    Pn - sb: 8:00 - 18:00
                </h5>
                <p>
                    W dni wolne od pracy oraz w niedziele infolinia nieczynna
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <i class="demo-icon icon-location"></i>
            </div>
            <div class="col-md-9">
                <h5>Salon:</h5>
                <h5>
                    ul. Sucharskiego 2<br />
                    35-225 Rzeszów<br />
                    Pn - Sb: 8:00 - 18:00
                </h5>
                <p>W dni wolne od pracy oraz w niedziele salon nieczynny</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center">
                <i class="demo-icon icon-mail-alt"></i>
            </div>
            <div class="col-md-9">
                <h5 style="margin: 27px 0;">
                    E-Mail do nas: <br />
                    <a href="mailto:isp@site.hub.pl">isp@site.hub.pl</a>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=21.978118005946474%2C50.04697351477685%2C21.984319273188905%2C50.05107266509333&amp;layer=mapnik&amp;marker=50.049023133699016%2C21.981218639567714" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=50.04902&amp;mlon=21.98122#map=17/50.04902/21.98122">Wyświetl większą mapę</a></small>
    </div>

</section>

<script>
    var contact = true;
</script>