﻿@*@model complaint_site.Models.Tariff*@
@model IEnumerable<complaint_site.Models.Tariff>
@{
    ViewBag.Title = "Home Page";
}
<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade w-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/images/home_picture.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block d-md-block my-auto">
                    <h2>Jesteśmy dostawcą internetu</h2>
                    <h5>oferując usługi poprzez lącze światłowodowe</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/home_picture2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block d-md-block">
                    <h2>Posiadamy wysokiej jakości serwerownie</h2>
                    <h5>starannie wykonane, nam nie staszna awaria</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Content/images/home_picture3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-block d-md-block">
                    <h2>Dla nas klient jest najważniejszy</h2>
                    <h5>dlatego przez stronę możesz z nami się skontaktować</h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section id="tariffs">
    <h1 class="text-center text-uppercase py-5">Poznaj nasze oferty</h1>
    <div class="row w-100 mx-auto">
        @foreach (var item in Model)
        {

            <div class="col-sm-3 my-5">
                <div class="card text-center">
                    @switch (item.Name)
                    {
                        case "Plan podstawowy":
                            <div class="card-header text-uppercase podstawowy"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></div>
                            break;
                        case "Plan optymalny":
                            <div class="card-header text-uppercase optymalny"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></div>
                            break;
                        case "Plan bogaty":
                            <div class="card-header text-uppercase bogaty"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></div>
                            break;
                        case "Plan premium":
                            <div class="card-header text-uppercase premium"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></div>
                            break;

                    }
                    <div class="card-body py-5">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Price) zł / miesiąc</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Parameters)</p>
                    </div>
                </div>
            </div>

        }
    </div>
</section>
<section class="contact py-5">
    <h2 class="text-center mb-5">ZAPRASZAMY DO KONTAKTU</h2>
    <div class="row mx-auto text-center">
        <div class="col-sm-4 my-4">
            <i class="demo-icon icon-mail-alt"></i>
            <h5>E-Mail: <a href="mailto:isp@site.hub.pl">isp@site.hub.pl</a></h5>
        </div>
        <div class="col-sm-4 my-4">
            <i class="demo-icon icon-location"></i>
            <address>
                <h5>
                    Biuro ISP:<br />
                    ul. Sucharskiego 2<br />
                    35-225 Rzeszów
                </h5>
            </address>
        </div>
        <div class="col-sm-4 my-4">
            <i class="demo-icon icon-phone"></i>
            <h5>
                Infolinia:<br />
                +48 123 456 789
            </h5>
        </div>
    </div>
</section>
<script>
    var home = 1;
</script>