﻿<section class="py-4 ">
    <h2 class="text-center">Regulamin</h2>
    <div class="col-md-10 mx-auto">
        <ol type="I">
            <li class="headerRegulations">Postanowienia ogólne</li>
            <ol>
                <li>
                    Niniejszy regulamin określa zasady działa firmy ISP oraz korzystania
                    z konta internetowego.
                </li>
                <li>
                    Warunkiem uzyskania dostępu do funkcjonalności serwisu ISP jest skorzystanie
                    z urządzenia komunikującego się z internetem i wyposażonego w powszechną
                    przeglądarkę internetową.
                </li>
            </ol>
            <li class="headerRegulations">Definicje</li>
            <ol>
                <li>
                    Klient – osoba fizyczna która ukończyła 18 rok życia,
                    korzystająca z wybranego planu taryfowego oferującego dostęp do usługi.
                </li>
                <li>
                    Plan taryfowy – charakterystyka usługi zawierający, nazwę, cenę miesięczną
                    oraz parametry usługi.
                </li>
                <li>
                    Usługa – dostęp do internetu przy pomocy infrastruktury światłowodowej
                    z określoną prędkością podanej w taryfie.
                </li>
                <li>
                    Zgłoszenie – sporządzone przez użytkownika pisemne oświadczenie w formie elektronicznej
                    wysyłane do pracowników firmy wysyłane z poziomu konta internetowego klienta.
                </li>
                <li>
                    Konto – unikalny identyfikator internetowy klienta zawierający dane klienta
                    podane w umowie, umożliwiające tworzenie oraz podgląd wszystkich zgłoszeń klienta.
                </li>
                <li>Serwis ISP – serwis fikcyjnego dostawcy internetowego.</li>
                <li>
                    Formularz rejestracji – formularz dostępny w serwisie umożliwiający
                    utworzenie konta tylko istniejącym klientom.
                </li>
                <li>Regulamin – niniejszy regulamin</li>
            </ol>
            <li class="headerRegulations">Zasady dotyczące zgłoszeń.</li>
            <ol>
                <li>
                    Zgłoszenia są redagowane przez klienta przy pomocy konta internetowego
                    w sprawach podanych w formularzach.
                </li>
                <li>
                    Podczas wysyłania zgłoszenia przez klienta na podany adres E-Mail
                    podczas rejestracji konta, klient otrzyma E-Mail informującego o pozytywnym
                    wysłaniu zgłoszenia.
                </li>
                <li>Jedno zgłoszenie może dotyczyć jednej sprawy zgłoszonej przez klienta.</li>
                <li>
                    Po rozpatrzeniu głoszenia klient otrzyma na adres E-Mail
                    informację o zmianie statusu zgłoszenia.
                </li>
                <li>
                    Status zgłoszenia identyfikuje stan zgłoszenia.
                    Każdorazowa zmiana statusu zgłoszenia skutkuje powiadomieniem
                    klienta przy pomocy E-Maila.
                </li>
                <li>
                    Na rozpatrzenie zgłoszenia pracownicy mają czas 48 godzin czas od daty
                    wysłania przez klienta zgłoszenia.
                    W szczególnych przypadkach czas na realizacje zgłoszenia może wydłużyć się,
                    o czym zostanie poinformowany klient.
                </li>
                <li>
                    Pracownicy rozpatrują zgłoszenia w godzina 8:00 – 18:00 w dni robocze,
                    wykluczając dni wolne od pracy.
                </li>
                <li>W szczególnych przypadkach zgłoszenie może zostać usunięte przez administratora. </li>
                <li>Klient nie może edytować wysłanego zgłoszenia.</li>
            </ol>
            <li class="headerRegulations">Zasady dotyczące konta internetowego</li>
            <ol>
                <li>Klient ma możliwość dokonania rejestracji konta internetowego w serwisie. </li>
                <li>
                    Podczas rejestracji klient proszony jest o podanie numeru pesel w celu weryfikacji w bazie danych.
                    Brak numeru pesel w bazie oznacza brak klienta w bazie.
                </li>
                <li>
                    Podczas rejestracji klient może podać adres E-Mail, jako jednoznaczny
                    identyfikator konta klienta. Na adres E-Mail klient będzie otrzymywać
                    informacje opisanego w punkcie 2,3,4 §3.
                </li>
                <li>
                    Konto służy do podejrzenia własnych danych w umowie, oraz wysłania zgłoszenia
                    bądź odpowiedzi na nie.
                </li>
                <li>Stworzenia konta przez klienta nie jest obowiązkowe.</li>
                <li>Konto nie jest tworzone automatycznie, jedynie poprzez interakcję klienta.</li>
                <li>
                    Klient może wnieść odpowiedni wniosek do administratora w celu zablokowania konta
                    internetowego. Konta internetowego nie można usunąć
                </li>
            </ol>
            <li class="headerRegulations">Kontakt z Serwisem</li>
            <ol>
                <li>Biuro klienta znajduje się pod adresem: ul. Sucharskiego 2, 35-225 Rzeszów.</li>
                <li>Adres E-Mail: isp@site.hub.pl</li>
                <li>Numer telefonu: 12 34 56 789</li>
                <li>
                    Użytkownik może porozumiewać się z pracownikami firmy za pomocą adresów i
                    numerów telefonów podanych w niniejszym paragrafie.
                </li>
                <li>
                    Użytkownik może skontaktować się telefonicznie z pracownikami serwisu w godzinach 8:00 – 18:00
                    w dni robocze wykluczając dni wolne od pracy.
                </li>
            </ol>
            <li class="headerRegulations">Informacje ogólne</li>
            <ol>
                <li>
                    Witryna internetowa służy do prezentacji firmy,
                    przechowywaniu danych osobowych oraz obsługi zgłoszeń.
                </li>
                <li>Witryna została stworzona w celu ułatwienia kontaktu klienta z pracownikiem.</li>
            </ol>
            <li class="headerRegulations">Dane osobowe</li>
            <ol>
                <li>Serwis nie wykorzystuje informacji z plików cookie. </li>
                <li>
                    Serwis nie gromadzi danych podczas niepowodzenia rejestracji,
                    w tym numeru pesel, oraz adresu E-Mail klienta.
                </li>
                <li>Serwis posiada fikcyjne dane osobowe w celach testowych oraz prezentacyjnych. </li>
                <li>Dane przechowywane są do momentu usunięcia przez administratora. </li>
                <li>
                    Klient może przy pomocy swojego konta zmienić numer telefonu, oraz adres.
                    W celu zmiany serii i numeru dowodu osobistego,
                    lub nazwiska, klient zobowiązany jest do wstawienia się osobiście do biura obsługi klienta.
                </li>
                <li>Klient może wnieść odpowiedni wniosek do pracowników w celu usunięcia danych.</li>
                <li>Podczas usunięcia danych klienta, zostanie usunięte również konto w serwisie internetowym.</li>
            </ol>
            <li class="headerRegulations">Zasady odpowiedzialności</li>
            <ol>
                <li>
                    Generowanie zgłoszeń przez klienta niezwiązane z działaniem firmy będą odrzucane,
                    a następnie kasowane. W przypadkach nadmiernego
                    generowania niepotrzebnych zgłoszeń konto internetowe klienta zostanie zablokowane.
                </li>
                <li>Klient odpowiedzialny jest do przestrzegania niniejszego regulaminu.</li>
            </ol>
            <li class="headerRegulations">Postanowienia końcowe</li>
            <ol>
                <li>
                    O zmianie Regulaminu serwis poinformuje poprzez zamieszczenie
                    informacji na stronie serwisu ISP. Zmiany wejdą w życie
                    w terminie wskazanym przez serwis, nie krótszym jednak niż 7 dni od daty publikacji.
                </li>
                <li>
                    Prawem właściwym dla całości umowy pomiędzy użytkownikiem a serwisem,
                    której przedmiotem
                    jest świadczenie przez serwis usług na warunkach określonych w regulaminie,
                    jest prawo Polskie.
                </li>
                <li>
                    Wszelkie spory związane z usługami świadczonymi przez serwis
                    ISP będą rozstrzygane przez właściwe polskie sądy powszechne.
                </li>
            </ol>
        </ol>
    </div>
</section>

<script>
    document.querySelector("main").style.backgroundColor = "lavender";
</script>