﻿
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-center">
        <h2 class="text-danger my-5">Nie masz uprawnień do podglądu zasobów</h2>

        <a href="@Url.Action("Index", "Home")" class="btn btn-outline-primary font-weight-bold">Strona główna</a>
    </div>
