﻿@model complaint_site.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Zmień hasło";
}

@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="mx-auto changePassword">
    <h2 class="text-center">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = " control-label" })
            <div class="">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-12" })
            </div>
        </div>
        <div class="form-group">
            <div class="text-center mb-5">
                <input type="submit" value="Zmień hasło" class="btn btn-primary " />
            </div>
        </div>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    document.querySelector("#zmianaHasla").classList.add("active");
</script>