﻿@using complaint_site.Models;
@model Tuple<Customer, Worker>

@{
    ViewBag.Title = "Zarządzaj";
}
<section class="mx-auto manage">
    @Html.Partial("~/Views/Shared/ManageNav.cshtml")
    @if (User.IsInRole("Customer"))
    {
        <div class="jumbotron pt-4">
            <h5 class="display-4 text-center">Podsumowanie</h5>
            <div class="row mt-5">
                <div class="col">
                    <h5>Twój plan taryfowy</h5>
                    <p class="py-0 my-0 font-weight-bold">@Html.DisplayFor(model => model.Item1.Tariff.Name)</p>
                    <p class="py-0 my-0">@Html.DisplayFor(model => model.Item1.Tariff.Price) zł / miesiąc</p>
                    <p class="py-0 my-0">@Html.DisplayFor(model => model.Item1.Tariff.Parameters)</p>
                </div>
                <div class="col">
                    <h5>Wysłałeś do nas @Html.DisplayFor(model => model.Item1.Reports.Count) zgłoszeń</h5>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="jumbotron pt-4">
            <h5 class="display-4 text-center">Podsumowanie</h5>
            <div class="row mt-5">
                <div class="col">
                    <h5>Towja rola w firmie to:</h5>
                    @if (User.IsInRole("Worker"))
                    {
                        <p class="py-0 font-weight-bold">Pracownik</p>
                        <p>Posiadasz uprawnienia do:</p>
                        <ul>
                            <li>Rozpatrywania zgłoszeń</li>
                            <li>Edytowania danych klientów</li>
                            <li>Dodawania nowych klientów</li>
                        </ul>
                    }
                    else if (User.IsInRole("Admin"))
                    {
                        <p class="py-0 font-weight-bold">Administrator</p>
                        <p>Posiadasz uprawnienia do:</p>
                        <ul>
                            <li>Rozpatrywania zgłoszeń</li>
                            <li>usuwania zgłoszeń</li>
                            <li>ddodawania klientów</li>
                            <li>edytowania danych klientów</li>
                            <li>usuwania klientów</li>
                            <li>dodawania pracowników</li>
                            <li>edytowania danych pracowników</li>
                            <li>usuwania pracowników</li>
                        </ul>
                    }
                </div>
                <div class="col">
                    @if (User.IsInRole("Admin"))
                    {
                        <div><h5>Liczba wszystkich zgłoszeń: @ViewBag.ReportsCount</h5></div>
                        <h5>
                            Pracownicy rozpatrzyli @if (ViewBag.Completed <= 4)
                            {<text>@ViewBag.Completed zgłoszenia</text>}
                        else
                        { <text>@ViewBag.Completed zgłoszeń</text>}
                        </h5>
                        <div>
                            <h5>
                                Pracownicy odrzucili @if (ViewBag.Reject <= 4)
                                {<text>@ViewBag.Reject zgłoszenia</text>}
                            else
                            { <text>@ViewBag.Reject zgłoszeń</text>}
                            </h5>
                        </div>
                    }
                    else
                    {
                        <h5>Rozpatrzyłeś/aś @Html.DisplayFor(model => model.Item2.Reports.Count) zgłoszeń </h5>
                    }
                </div>
            </div>
        </div>
    }
</section>
<script>
    document.querySelector("#mojeKonto").classList.add("active");
</script>
