﻿@model complaint_site.Models.Customer
@{
    ViewBag.Title = "PersonalData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="mb-5">
    <h2 class="text-center mr-5">Moje dane</h2>
    <h4>Dane podstawowe:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Surname)</div>
            <div>@Html.DisplayNameFor(model => model.Phone)</div>
            <div>@Html.DisplayNameFor(model => model.Pesel)</div>
            <div>@Html.DisplayNameFor(model => model.IdNumber)</div>
        </div>
        <div class="col-3">
            <div>@Html.DisplayFor(model => model.Name)</div>
            <div>@Html.DisplayFor(model => model.Surname)</div>
            <div>@Html.DisplayFor(model => model.Phone)</div>
            <div>@Html.DisplayFor(model => model.Pesel)</div>
            <div>@Html.DisplayFor(model => model.IdNumber)</div>
        </div>
        <div class="col-2 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.Tariff.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Tariff.Parameters)</div>
            <div>@Html.DisplayNameFor(model => model.Tariff.Price)</div>
        </div>
        <div class="col-4 ">
            <div>@Html.DisplayFor(model => model.Tariff.Name)</div>
            <div>@Html.DisplayFor(model => model.Tariff.Parameters)</div>
            <div>@Html.DisplayFor(model => model.Tariff.Price) zł</div>
        </div>
    </div>
    <h4 class="mt-4">Adres główny:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.City)</div>
            <div>@Html.DisplayNameFor(model => model.Street)</div>
            <div>@Html.DisplayNameFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayNameFor(model => model.ZIPCode)</div>
        </div>
        <div class="col-4 ">
            <div>@Html.DisplayFor(model => model.City)</div>
            <div>@Html.DisplayFor(model => model.Street)</div>
            <div>@Html.DisplayFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayFor(model => model.ZIPCode)</div>
        </div>
    </div>
    <h4 class="mt-4">Adres do korespondencji:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right ">
            <div>@Html.DisplayNameFor(model => model.CityCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.StreetCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.HouseNumberCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.ZIPCodeCorespondence)</div>
        </div>
        <div class="col-4 ">
            <div>@Html.DisplayFor(model => model.CityCorespondence)</div>
            <div>@Html.DisplayFor(model => model.StreetCorespondence)</div>
            <div>@Html.DisplayFor(model => model.HouseNumberCorespondence)</div>
            <div>@Html.DisplayFor(model => model.ZIPCodeCorespondence)</div>
        </div>
    </div>
    @if (User.IsInRole("Customer"))
    {
        <div class="text-center mt-4">
            @Html.ActionLink("Edytuj moje dane", "EditPersonalData", new { @id = Model.IdCustomer }, new { @class = "btn btn-outline-success font-weight-bold" })
        </div>
    }

</section>
<script>
    document.querySelector("#mojeDane").classList.add("active");
</script>