﻿@model complaint_site.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="delete">
        <h4>Czy jesteś pewny na usunięcie klienta?</h4>
        <h3 class="text-danger mt-4">Jest to operacja nieodwracalna</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions mt-5">
                <input type="submit" value="Tak chcę usunąć klienta" class="btn btn-danger font-weight-bold" />
                @Html.ActionLink("Wróć do klienta", "Details", new { id = Model.IdCustomer }, new { @class = "btn btn-dark font-weight-bold" })
                <a href="@Url.Action("Index", "Customers")" class="btn btn-primary font-weight-bold ">Wróć do listy</a>
            </div>
        }
    </section>