﻿@model complaint_site.Models.Customer
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="mb-4">
    <h2 class="text-center">Dane klienta</h2>
    <hr />
    <div class="my-4">
        <a href="@Url.Action("Index", "Customers")" class="btn btn-outline-primary font-weight-bold">Wróć do listy</a>
    </div>
    <h4>Dane podstawowe:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Surname)</div>
            <div>@Html.DisplayNameFor(model => model.Phone)</div>
            <div>@Html.DisplayNameFor(model => model.Pesel)</div>
            <div>@Html.DisplayNameFor(model => model.IdNumber)</div>
        </div>
        <div class="col-3">
            <div>@Html.DisplayFor(model => model.Name)</div>
            <div>@Html.DisplayFor(model => model.Surname)</div>
            <div>@Html.DisplayFor(model => model.Phone)</div>
            <div>@Html.DisplayFor(model => model.Pesel)</div>
            <div>@Html.DisplayFor(model => model.IdNumber)</div>
        </div>
        <div class="col-2 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.Tariff.Name)</div>
            <div>@Html.DisplayNameFor(model => model.Tariff.Parameters)</div>
            <div>@Html.DisplayNameFor(model => model.Tariff.Price)</div>
            <div>@Html.DisplayNameFor(model => model.User.Email)</div>
            <div class="mt-1">Status konta</div>
        </div>
        <div class="col-4">
            <div>@Html.DisplayFor(model => model.Tariff.Name)</div>
            <div>@Html.DisplayFor(model => model.Tariff.Parameters)</div>
            <div>@Html.DisplayFor(model => model.Tariff.Price) zł</div>
            <div>@Html.DisplayFor(model => model.User.UserName)</div>

            <div>
            @if (Model.User != null)
            {
                if (Model.User.LockoutEndDateUtc == null)
                {

                    if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                    {
                        using (Html.BeginForm("LockUnlockAccountChnage", "Customers", FormMethod.Post))
                        {
                            <span class="badge badge-success">Konto aktywne</span>
                            <button type="submit" value="@Model.User.Id" name="locked" id="locked" class="btn btn-sm btn-danger lockUnlock">Zablokuj konto</button>
                        }
                    }
                }
                else
                {

                    if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                    {
                        using (Html.BeginForm("LockUnlockAccountChnage", "Customers", FormMethod.Post))
                        {
                            <span class="badge badge-danger ">Konto zablokowane</span>
                            <button type="submit" value="@Model.User.Id" name="unlocked" id="unlocked" class="btn btn-sm btn-success lockUnlock">Odblokuj konto</button>
                        }
                    }
                }
            }
            else { 
                
                <div> </div>
                <div><span class="badge badge-info">Brak konta</span></div>
            }
            </div>
        </div>
    </div>
    <h4 class="mt-4">Adres główny:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.City)</div>
            <div>@Html.DisplayNameFor(model => model.Street)</div>
            <div>@Html.DisplayNameFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayNameFor(model => model.ZIPCode)</div>
        </div>
        <div class="col-4 ">
            <div>@Html.DisplayFor(model => model.City)</div>
            <div>@Html.DisplayFor(model => model.Street)</div>
            <div>@Html.DisplayFor(model => model.HouseNumber)</div>
            <div>@Html.DisplayFor(model => model.ZIPCode)</div>
        </div>
    </div>
    <h4 class="mt-4">Adres do korespondencji:</h4>
    <div class="row">
        <div class="col-3 font-weight-bold text-right">
            <div>@Html.DisplayNameFor(model => model.CityCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.StreetCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.HouseNumberCorespondence)</div>
            <div>@Html.DisplayNameFor(model => model.ZIPCodeCorespondence)</div>
        </div>
        <div class="col-4 ">
            <div>@Html.DisplayFor(model => model.CityCorespondence)</div>
            <div>@Html.DisplayFor(model => model.StreetCorespondence)</div>
            <div>@Html.DisplayFor(model => model.HouseNumberCorespondence)</div>
            <div>@Html.DisplayFor(model => model.ZIPCodeCorespondence)</div>
        </div>
    </div>
    <div class="text-center my-4">
        @Html.ActionLink("Edytuj dane klienta", "Edit", new { id = Model.IdCustomer }, new { @class = "btn btn-outline-dark font-weight-bold" })
        @if (Context.User.IsInRole("Admin"))
        {
            @Html.ActionLink("Usuń klienta", "Delete", new { id = Model.IdCustomer }, new { @class = "btn btn-outline-danger font-weight-bold" })
        }
    </div>
    @if (ViewBag.Modal != null)
    {
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            @if (Model.User.LockoutEndDateUtc == null)
                            {
                                <span>Konto zostało odblokowane</span>
                            }
                            else
                            {
                                <span>Konto zostało zablokowane</span>
                            }
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myModal").modal('show');
    });
</script>