﻿@model complaint_site.Models.Customer

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="py-4 font-weight-bold">
    <h2 class="text-center">Edytuj klienta</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCustomer)
        <h4>Dane podstawowe:</h4>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Pesel, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.Pesel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pesel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class="">
                        @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.IdNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IdNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto"></div>
        </div>
        <h4 class="mt-4">Adres główny:</h4>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.HouseNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HouseNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto ">
                <div class="form-group">
                    @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.ZIPCode, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.ZIPCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZIPCode, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mt-4">Adres do korespondencji:</h4>
        <p class="font-weight-bolder">
            <br />
            <input type="checkbox" value="thisSame" id="thisSame" />
            <label class="form-check-label" for="thisSame">Taki sam jak adres główny</label>
        </p>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.CityCorespondence, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.CityCorespondence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CityCorespondence, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.HouseNumberCorespondence, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.HouseNumberCorespondence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HouseNumberCorespondence, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.StreetCorespondence, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.StreetCorespondence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StreetCorespondence, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.ZIPCodeCorespondence, htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.EditorFor(model => model.ZIPCodeCorespondence, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ZIPCodeCorespondence, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <h4 class="mt-4">Wybór taryfy:</h4>
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="form-group">
                    @Html.LabelFor(model => model.IdTariff, "IdTariff", htmlAttributes: new { @class = "control-label col-md-12" })
                    <div class=" ">
                        @Html.DropDownList("IdTariff", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IdTariff, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-4 mx-auto"></div>
        </div>
        <div class="form-group">
            <div class="text-center">
                <input type="submit" value="Zapisz" class="btn btn-outline-success font-weight-bold" />
                @Html.ActionLink("Wróć do klienta", "Details", new { id = Model.IdCustomer }, new { @class = "btn btn-outline-dark font-weight-bold" })
                <a href="@Url.Action("Index", "Customers")" class="btn btn-outline-primary font-weight-bold">Wróć do listy</a>
            </div>
        </div>
    }
</section>
<script>
    var checkBox = document.querySelector("#thisSame");
</script>