﻿@model IEnumerable<complaint_site.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/ManageNav.cshtml")
<section class="mb-5">
    <h2 class="text-center mr-5">Lista klientów</h2>
    <p>
        <a href="@Url.Action("Create", "Customers")" class="btn btn btn-outline-primary font-weight-bold ml-3">Dodaj nowego klienta</a>
    </p>
    <table class="table display table-hover" id="customerTable">
        <thead class="text-center">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Surname)</th>
                <th>Adres</th>
                <th>@Html.DisplayNameFor(model => model.Pesel)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>Email</th>
                <th>Taryfa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("Details", "Customers", new { id=item.IdCustomer})'" style="cursor:pointer !important">
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                        @Html.DisplayFor(modelItem => item.Street)
                        @Html.DisplayFor(modelItem => item.HouseNumber)
                        @Html.DisplayFor(modelItem => item.ZIPCode)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Pesel)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tariff.Name)</td>
                </tr>
            }
        </tbody>
    </table>
</section>
<script>
    document.querySelector("#klienci").classList.add("active");
</script>



