﻿@model complaint_site.ViewModels.AnswerForReportEmail
    Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
                <span class="ispLogo link-green text-center">ISP</span>
            </nav>
        </div>
    </header>
    <main class="bg-light">
        <h4 class="text-center py-4">Witamy!</h4>
        <div class="pt-3">
            <p>Twoje zgłoszenie zmieniło status na: <h5>@Html.DisplayFor(model => model.Status)</h5></p>
            Zapraszamy do zapoznania się z odpowiedzią pracownika:
            <p>@Html.DisplayFor(model => model.ReplyReport)</p>
            <p><b>Po więcej szczegółów zaloguj się na naszą stronę internetową.</b></p>
            <p class="pt-5 pb-2  mb-0">Wiadomość została wygenerowana automatycznie, prosimy na nią nie odpowiadać.</p>
        </div>
    </main>
    <footer class="row p-3 bg-light text-dark">
        <div class="col text-left">
            Pozdrawiamy<br />
            Zespół ISP
        </div>
        <div class="col text-right">
            Zapraszamy do kontaktu:<br />
            123 456 789
        </div>
    </footer>
</body>
</html>