﻿@model complaint_site.ViewModels.ConfirmSendReportEmail
    Content-Type: text/html; charset=utf-8

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
                <span class="ispLogo link-green text-center">ISP</span>
            </nav>
        </div>
    </header>
    <main class="bg-light">
        <h4 class="text-center py-4">Dziękujemy za wysłanie zgłoszenia</h4>
        <p>Nasi doradcy zrealizują dla Ciebie zgłoszenie maksymalnie w ciągu 48 godzin w dni robocze. W następnej wiadomości otrzymasz powiadomienie o rozpatrzeniu zgłoszenia.</p>

        <table class="table mb-5 table-dark">
            <thead>
                <tr>
                    <th>Numer zgłoszenia</th>
                    <th>Typ zgłoszenia</th>
                    <th>Kategoria</th>
                    <th>Data utworzenia</th>
                </tr>
            </thead>
            <tbody>
                <tr class="">
                    <td>@Html.DisplayFor(Model => Model.IdReport)</td>
                    <td>@Html.DisplayFor(Model => Model.Type)</td>
                    <td>@Html.DisplayFor(Model => Model.Category)</td>
                    <td>@Html.DisplayFor(Model => Model.Data_of_issue)</td>
                </tr>
            </tbody>
        </table>
        <p class="mt-5">Wiadomość została wygenerowana automatycznie, prosimy na nią nie odpowaidać</p>
    </main>
    <footer class="row p-3 bg-light text-dark">
        <div class="col text-left">
            Pozdrawiamy<br />
            Zespół ISP
        </div>
        <div class="col text-right">
            Zapraszamy do kontaktu:<br />
            123 456 789
        </div>
    </footer>

</body>
</html>


